@font-face {
  font-family: DarkerGrotesque-Regular;
  src: url(../fonts/DarkerGrotesque-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: DarkerGrotesque-Bold;
  src: url(../fonts/DarkerGrotesque-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: DarkerGrotesque-Light;
  src: url(../fonts/DarkerGrotesque-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: DarkerGrotesque-Medium;
  src: url(../fonts/DarkerGrotesque-Medium.ttf);
}
@font-face {
  font-family: DarkerGrotesque-SemiBold;
  src: url(../fonts/DarkerGrotesque-SemiBold.ttf);
  font-weight: 600;
}
